<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295301531952-gausra6pe387qosa2n9mpjqch99g991i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295301531952-gausra6pe387qosa2n9mpjqch99g991i</string>
	<key>API_KEY</key>
	<string>AIzaSyDDCZ3YWm5iULsUF1JoJKrC9UkENFSaTLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>295301531952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.dolinkue.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-16ab4</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-16ab4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295301531952:ios:56899a72e140c32f63e0f5</string>
</dict>
</plist>